<template name="footer">
  <div id="footer">
      <div class="container">
          <div class="row">
            <br>
            <div class="col-md-4">
              <center>
                <a href="">
                  <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Other Projects</h4>
                </a>
              </center>
            </div>
            <div class="col-md-4">
              <center>
                <a href="">
                  <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                  <h4 class="footertext">Resume</h4>
                </a>
              </center>    
            </div>   
            <div class="col-md-4">
              <center>
                <a href="">
                  <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                  <h4 class="footertext">info</h4>
                </a>
              </center>
            </div>
          </div>    
      </div>
  </div>
</template>